/* @media(max-width: 1537px) {
    .headerfixed .logo {
        height: auto;
        width: 50%;
        padding: 10px 50px;
    }

    img {
        padding-top: 7px;
        width: 130px;
    }

    .headerfixed .buy {
        height: auto;
        width: 50%;
    }

    .headerfixed .buy button {
        padding: 8px 10px;
    }

    .loinginfo .menu2 {
        display: none;
    }
}

@media(max-width: 1200px) {
    .headerfixed .logo {
        height: auto;
        width: 50%;
        padding: 10px 50px;
    }

    img {
        height: 30px;
        width: 130px;
    }

    .headerfixed .buy {
        height: auto;
        width: 50%;
    }

    .headerfixed .buy button {
        padding: 8px 10px;
    }

    .loinginfo .menu2 {
        display: none;
    }
}

@media(max-width: 1000px) {
    .headerfixed .logo {
        height: auto;
        width: 50%;
        padding: 10px 50px;

    }

    img {
        height: 30px;
        width: 130px;
    }

    .headerfixed .buy {
        height: auto;
        width: 50%;
    }

    .headerfixed .buy button {
        padding: 8px 10px;
    }

    nav .menubar i {
        display: block;
    }

    #click:checked~.menubar i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -150%;
        background-color: #000;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 20px;
        display: block;
        font-weight: 600;
    }

    nav ul li a:hover {
        color: #000;
    }


}

@media(max-width: 700px) {
    .headerfixed .logo {
        height: auto;
        width: 50%;
        padding-top: 10px;
    }

    img {
        height: 30px;
        width: 130px;
    }

    .headerfixed .buy {
        height: auto;
        width: 50%;
    }

    .headerfixed .buy button {
        padding: 8px 10px;
    }

    .loinginfo .info {
        display: none;
    }

    .loinginfo .menu2 {
        display: block;
    }
}

@media(max-width: 600px) {
    .headerfixed .logo {
        height: auto;
        width: 50%;
        padding-top: 10px;
    }

    img {
        height: 30px;
        width: 130px;
    }

    .headerfixed .buy {
        height: auto;
        width: 50%;
    }

    .headerfixed .buy button {
        padding: 8px 10px;
    }

    .header {
        width: 50%;
        /* background-color: aquamarine; */
    /* }
    .navbar ul
    {
        display: none;
    }
    .navbar span
    {
        display: block;
    }
   

}  */